<div class="row">
  <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
    {{ 'page.contacts.myPhoneNumber' | translate }}: <h2><a href="tel:+37368389727" class="phoneNumber">068-389-727</a></h2>
    {{ 'page.contacts.currentTime' | translate }} Viber,Telegram, {{ 'page.contacts.iAmAccessible' | translate }}
  </div>
  <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">

  </div>
</div>
<div class="row">
  <div class="offset-6 col-xxl-6 col-xl-6 col-lg-6 col-md-6 offset-sm-0 col-sm-12">
    <button class="btn btn-outline-success" (click)="commonServiceService.copySiteAddress()">{{ 'common.copySiteAddress' | translate }}</button>
  </div>
</div>
