<div class="row">
  <div class="col-10 offset-2">
    <div class="btn-group" id="buttons" role="group" aria-label="Basic outlined example">
      <button type="button" class="btn btn-lg btn-outline-primary" (click)="first()" [disabled]="isFirstImage">{{ 'page.photos.button.first' | translate }}</button>
      <button type="button" class="btn btn-lg btn-outline-primary" (click)="previous()">{{ 'page.photos.button.previous' | translate }}</button>
      <button type="button" class="btn btn-lg btn-outline-primary" (click)="next()">{{ 'page.photos.button.next' | translate }}</button>
      <button type="button" class="btn btn-lg btn-outline-primary" (click)="last()" [disabled]="isLastImage">{{ 'page.photos.button.last' | translate }}</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 text-center">
    <span id="infoPhoto">{{currentIndex + 1}} / {{lastIndex + 1}}</span>
    <hr/>
    <h3>{{ 'page.photos.info' | translate }}</h3>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div id="imageViewer">
      <a [href]="currentImagePath" target="_blank">
        <img [src]="currentImagePath" class="img-fluid">
      </a>
    </div>
  </div>
</div>
