<div class="container">
  <div class="row">
    <div class="col-5">
      <header class="d-flex justify-content-center py-3">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand" routerLink="/"><img [src]="mainImagePath" width="36" height="36">{{ 'header.imageName' | translate }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item"><a href="#" class="nav-link" routerLink="/photos" routerLinkActive="active">{{ 'menu.photos' | translate }}</a></li>
                <li class="nav-item"><a href="#" class="nav-link" routerLink="/videos" routerLinkActive="active">{{ 'menu.videos' | translate }}</a></li>
                <li class="nav-item"><a href="#" class="nav-link" routerLink="/info" routerLinkActive="active">{{ 'menu.info' | translate }}</a></li>
                <li class="nav-item"><a href="#" class="nav-link" routerLink="/price" routerLinkActive="active">{{ 'menu.price' | translate }}</a></li>
                <li class="nav-item"><a href="#" class="nav-link" routerLink="/contacts" routerLinkActive="active">{{ 'menu.contacts' | translate }}</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
    </div>
    <div class="offset-4 col-3">
      <select #langSelect (change)="translate.use(langSelect.value)" class="form-select form-select-lg mb-3" style="margin-top: 25px;">
        <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ translateLanguage(lang) | translate | uppercase}}</option>
      </select>
    </div>
  </div>
  <div class="row"> <!--content-->
    <div class="offset-1 col-10">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
