<h1>{{ 'page.info.name' | translate}}</h1>
<h2>{{ 'page.info.auto_info' | translate}}</h2>
<div class="row">
  <div class="col-12">
    <p>{{ 'page.info.tech_review' | translate}} 05.2023:</p>
    <ul>
      <li>{{ 'page.info.fuel_filter' | translate}} - MANN</li>
      <li>{{ 'page.info.air_filter' | translate}} - Filtron</li>
      <li>{{ 'page.info.salon_filter' | translate}} - MANN</li>
      <li>{{ 'page.info.oil_filter' | translate}} - MANN</li>
      <li>{{ 'page.info.oil' | translate}} - Motul ECO-nergy 8100 5W30</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <p>{{ 'page.info.timing_belt' | translate}}</p>
    <p>{{ 'page.info.accumulator' | translate}} Bosch(09.2019)</p>
    <p>{{ 'page.info.damper' | translate}}</p>
    <p>{{ 'page.info.brake_disk' | translate}} (06.2021)</p>
    <p>{{ 'page.info.candle_heat' | translate}} 03.2022 Bosch</p>
    <p>{{ 'page.info.valve' | translate}} 04.2022</p>
    <p>{{ 'page.info.spare_wheel' | translate}}</p>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <ol>
      <li>{{ 'page.info.winter_tyre' | translate}} Hankook winter i*cept(01.2019).</li>
      <li>{{ 'page.info.summer_tyre' | translate}} - Lassa Greenways(03.2022)</li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <p>{{ 'page.info.current_time' | translate}}:</p>
    <ul>
      <li>{{ 'page.info.tech_review' | translate}} 07.2023</li>
      <li>{{ 'page.info.insurance' | translate}} 07.2023 (Moldasig)</li>
      <li>{{ 'page.info.door_tax' | translate}} 2023</li>
    </ul>
    <h3>{{ 'page.info.conclusion' | translate}}</h3>
  </div>
</div>
