<div class="row">
  <div class="col-12">
    <h1>{{ 'page.main.info' | translate }}</h1>
    <p><a href="#" routerLink="/info" >{{ 'page.main.info_page' | translate }}</a></p>
    <p><a href="#" routerLink="/photos" >{{ 'page.main.photos_page' | translate }}</a></p>
    <p><a href="#" routerLink="/videos" >{{ 'page.main.videos_page' | translate }}</a></p>
    <p><a href="#" routerLink="/price" >{{ 'page.main.price_page' | translate }}</a></p>
    <p><a href="#" routerLink="/contacts" >{{ 'page.main.contacts_page' | translate }}</a></p>
  </div>
</div>
